@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("root.css");
@import url("loader.css");
@import url("nav.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

img {
  max-width: 100%;
  display: inline;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 100vh;
  display: flex;
}
.header img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  z-index: -1;
}
.header img.show {
  opacity: 0.5;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.76);
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  gap: 50px;
}
.header__content h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  color: #fff;
}
.header__content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  max-width: 960px;
}
.header__next {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: 576px;
  width: 100%;
  height: 100px;
  z-index: 10;
  border-radius: 10px;
  overflow: hidden;
}
.header__next-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000 55%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 15px;
  padding: 16px;
}
.header__next span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.header__next h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.header__next img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  max-width: 50%;
}

main {
  padding: 50px 0;
}

.mat h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  margin-left: 100px;
}

.top {
  padding: 90px 0;
  background: #fff;
}
.top h2 {
  display: flex;
  align-items: start;
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #141414;
  gap: 15px;
  margin-left: 100px;
  margin-bottom: 90px;
  text-transform: uppercase;
}
.top h2 span {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 50px;
  line-height: 60%;
  color: #149a03;
}
.top__swiper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.top__swiper-slide {
  box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 527px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top__swiper-slide-bg {
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #141414 43%, rgba(20, 20, 20, 0) 100%);
  width: 100%;
  height: 100%;
}
.top__swiper-slide-bg span {
  margin: 0 80px;
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 700;
  font-size: 150px;
  color: #fff;
  cursor: default;
}
.top__swiper-slide-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 313px;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */